acmart.cls
acmart.pdf
acmguide.pdf
sample-*.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
packages/
paket-files/
*.xcp
*.ent
paket.exe
paket.targets
references/
